Source: copyrite
Section: utils
Priority: optional
Maintainer: Marko Malenic <mmalenic1@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: copyrite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A CLI tool for efficient checksum and copy operations across object stores
 This tool calculates checksums and copies files across object stores efficiently.
